@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  font-family: "Inter", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.bg-top {
  background-image: url("/public/assets/top-bg.webp");
  background-size: cover;
  background-position: center;
}

.bg-bottom {
  background-image: url("/public/assets/bot-bg.webp");
  background-size: cover;
  background-position: center;
}
